<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
        <script type="text/javascript">
        function close_window()
        {
          window.close();
      }
      </script>
</head>
<body>
    <div class="work container">
        <div class="row work_header">
            <div class="result_title">
                <%= title %>
                <span class="close">—</span>
                <a class="close" href="javascript:close_window();">close window</a>
            </div>
        </div>
        <div class="row result_main center">
            <div class="result_subtitle">Result</div>
            <div class="result_text">A box is drawn for each contour.</div>
            <img class="result_img" src="<%= photo_path %>" alt="result image">
            <div class="result_subtitle">Source image</div>
            <img class="result_img" src="<%= input_photo_path %>" alt="input image">
            <div class="close_bottom">
                <a class="close" href="javascript:close_window();">close window</a>
            </div>
        </div>
    </div>
</body>
</html>