<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link href='/stylesheets/style.css' rel='stylesheet'/>
	<link href='/stylesheets/framework.css' rel='stylesheet'/>
	<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	<!--[if IE]>
	  <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	  <![endif]-->
	  <!-- <script type="text/javascript" src="quizit.js"></script> -->
	  <script src="../../waypoints.js"></script>
	  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	  <script type="text/javascript" charset="utf-8"></script>


	  <!-- Start WOWSlider.com HEAD section -->
	  <link rel="stylesheet" type="text/css" href="/ws/engine1/style.css" />
	  <script type="text/javascript" src="/ws/engine1/jquery.js"></script>
	  <link rel="stylesheet" type="text/css" href="/ws/engine2/style.css" />
	  <script type="text/javascript" src="/ws/engine2/jquery.js"></script>
	  <link rel="stylesheet" type="text/css" href="/ws/engine3/style.css" />
	  <script type="text/javascript" src="/ws/engine3/jquery.js"></script>
	  <link rel="stylesheet" type="text/css" href="/ws/engine4/style.css" />
	  <script type="text/javascript" src="/ws/engine4/jquery.js"></script>
	  <!-- End WOWSlider.com HEAD section -->
	  <script type="text/javascript">
	  $(function(){
	  	$('#clickme').click(function(){
	  		$('#uploadme').click();
	  	});
	  });
	  $(function(){
	  	$('#clickme2').click(function(){
	  		$('#uploadme2').click();
	  	});
	  });
	  $(function(){
	  	$('#clickme3').click(function(){
	  		$('#uploadme3').click();
	  	});
	  });
	  $(function(){
	  	$('#clickme4').click(function(){
	  		$('#uploadme4').click();
	  	});
	  });
	  </script>
	</head>
	<body>
		<div id="main">

			<!-- top of page -->

			<div id="navbar">
				<ul>
					<li>
						<a href="#about">About</a>
					</li>
					<li>
						<a href="#work">Work</a>
					</li>
					<li>
						<a href="#ethos">Ethos</a>
					</li>
					<li>
						<a href="#contact">Contact</a>
					</li>
				</ul>
			</div>
			<div class="header container" id="about">
				<div class="row">
					<div class="header_content">
						<div class="logo">
							<img src="/images/hello.png" height="300" width="300">
						</div>
						<div class="bio">
							<p>I am a self-driven student of computer vision and machine learning living near Toronto. On the side of university, I have taught myself OpenCV and have completed a Stanford University online course on machine learning. I graduate in May and will focus full-time on computer vision and machine learning. Previously I worked at IBM and the Google Summer of Code. Also I am an optimist, and I love rock climbing and fire spinning.</p>
						</div>
						<div class="links">
							<span class="pretext">You can find me in all the usual places</span>
							<span class="slash">—</span>
							<a class="alink" href="https://facebook.com/danielsnider" target="_blank">Facebook</a>
							<span class="slash">/</span>
							<a class="alink" href="https://twitter.com/danielsnider" target="_blank">Twitter</a>
							<span class="slash">/</span>
							<a class="alink" href="https://github.com/danielsnider?tab=repositories" target="_blank">Github</a>
							<span class="slash">/</span>
							<a class="alink" href="/resume.pdf" target="_blank">Resume</a>
						</div>
					</div>
				</div>
			</div> <!-- header container -->

			<div class="work container" id="work">
				<div class="row work_header">
					<div class="left_divider"></div>
					<div class="container_title">Work I've Done.</div>
					<div class="container_desc">All my projects were created with C++ or C and were personal learning projects.</div>
				</div>
				<div class="row work_item">
					<div class="left_col col6">
						<div class="left_divider_work_date"></div>
						<h4 class="work_date">2012</h4>
						<h2 class="work_title">Contour Finding Algorithm</h2>
						<p class="work_desc">This algorithm creates "groups" of high intensity pixels. For example, letters can be grouped into words, or words can be grouped into paragraphs. Then the locations of groups can be accessed programmatically. However, only rectangular group regions are supported because the implementation is based on a basic split and merge algorithm. A better approach would be based on a region growing algorithm. Or just use OpenCV's built-in function called <a href="http://docs.opencv.org/modules/imgproc/doc/structural_analysis_and_shape_descriptors.html?highlight=findcontours#findcontours" target="_blank">findContours</a> to find contours efficiently.</p>
						<form class="work_form" action="/contour_find" method="post" accept-charset="utf-8" enctype="multipart/form-data" target="_blank">
							<div class="try_title">Live Demo</div>
							<label for="file">Upload your own picture:</label>
							<input type="file" name="file" style="visibility:hidden;" id="uploadme" />
							<input type="button" id="clickme" value="Choose File" />
							<input type="submit" value="Go &rarr;"><br>
							<label for="file">Or try the default picture:</label>
							<input type="submit" value="Continue &rarr;"><br>
							<label for="sep_dist" class="sep_dist">Minimum pixel distance between objects:</label>
							<input type="text" name="sep_dist" id="sep_dist" value="25" size="10">
							<input type="hidden" name="scan_rate" id="scan_rate" value="1">
							<!-- <label for="thres">noise tolerance:</label> -->
							<input type="hidden" name="thres" id="thres" value="0">
							<!-- <label for="scan_rate">Scanning window step rate:</label> -->
						</form>
						<div class="github"> Browse on
							<a href="https://github.com/danielsnider/contourFind-algorithm" target="_blank">github</a>.
						</div>
					</div>

					<div class="center_col col6">
						<!-- Start WOWSlider.com BODY section -->
						<div id="wowslider-container3">
							<div class="ws_images"><ul>
								<li><img src="/ws/data3/images/contour_find_result__copy.jpg" alt="contour_find_result - Copy" title="contour_find_result - Copy" id="wows3_0"/></li>
								<li><img src="/ws/data3/images/contour_find_original__copy.jpg" alt="contour_find_original - Copy" title="contour_find_original - Copy" id="wows3_1"/></li>
							</ul></div>
							<div class="ws_bullets"><div>
								<a href="#" title="contour_find_result - Copy">1</a>
								<a href="#" title="contour_find_original - Copy">2</a>
							</div></div>
							<a class="wsl" href="http://wowslider.com">Image Slider Plugin Wordpress by WOWSlider.com v2.8</a>
							<div class="ws_shadow"></div>
						</div>
						<script type="text/javascript" src="/ws/engine3/wowslider.js"></script>
						<script type="text/javascript" src="/ws/engine3/script.js"></script>
						<!-- End WOWSlider.com BODY section -->
					</div>

				</div> <!-- work row -->

				<div class="row work_item">
					<div class="center_col col7">
						<!-- Start WOWSlider.com BODY section -->
						<div id="wowslider-container1">
							<div class="ws_images"><ul>
								<li><img src="/ws/data1/images/livingroombefore0722.jpg" alt="LivingRoombefore0722" title="LivingRoombefore0722" id="wows1_0"/></li>
								<li><img src="/ws/data1/images/o.jpg" alt="o" title="o" id="wows1_1"/></li>
							</ul></div>
							<div class="ws_bullets"><div>
								<a href="#" title="LivingRoombefore0722">1</a>
								<a href="#" title="o">2</a>
							</div></div>
							<div class="ws_shadow"></div>
						</div>
						<script type="text/javascript" src="/ws/engine1/wowslider.js"></script>
						<script type="text/javascript" src="/ws/engine1/script.js"></script>
						<!-- End WOWSlider.com BODY section -->
					</div>
					<div class="left_col col5">
						<h2 class="work_title">Empty Wall Space</h2>
						<p class="work_desc">This algorithm finds the largest unobstructed area. Potential applications include an intelligent wall projectors or head-mounted displays.</p>
						<form class="work_form" action="/empty_wall_space" method="post" accept-charset="utf-8" enctype="multipart/form-data" target="_blank">
							<div class="try_title">Live Demo</div>
							<label for="file">Upload your own picture:</label>
							<input type="file" name="file" style="visibility:hidden;" id="uploadme2" />
							<input type="button" id="clickme2" value="Choose File" />
							<input type="submit" value="Go &rarr;"><br>
							<label for="file">Or try the default picture:</label>
							<input type="submit" value="Continue &rarr;">
						</form>
						<div class="github"> Browse on
							<a href="https://github.com/danielsnider/projector-that-sees" target="_blank">github</a>.
						</div>
					</div>
				</div> <!-- work row -->

				<div class="row work_item">
					<div class="left_col col5">
						<h2 class="work_title">Highlights only OCR</h2>
						<p class="work_desc">Amazon's Kindle iOS app allows text to be highlighted, but restricts copy and pasting. This algorithm performs OCR <b class="bold">only</b> on text in an image that has been highlighted.</p>
						<form class="work_form" action="/highlight_ocr" method="post" accept-charset="utf-8" enctype="multipart/form-data" target="_blank">
							<div class="try_title">Live Demo</div>
							<label for="file">Upload your own picture:</label>
							<input type="file" name="file" style="visibility:hidden;" id="uploadme3" />
							<input type="button" id="clickme3" value="Choose File" />
							<input type="submit" value="Go &rarr;"><br>
							<label for="file">Or try the default picture:</label>
							<input type="submit" value="Continue &rarr;"><br>
							<div class="rgb" id="rgb_title">Highlight Color</div>
							<label class="rgb" for="red">Red:</label>
							<input class="rgb" type="text" name="red" id="red" value="251"><br/>
							<label class="rgb" for="green">Green:</label>
							<input class="rgb" type="text" name="green" id="green" value="226"><br>
							<label class="rgb" for="blue">Blue:</label>
							<input class="rgb" type="text" name="blue" id="blue" value="152">
						</form>
						<div class="github"> Browse on
							<a href="https://github.com/danielsnider/OCR-only-highlighted" target="_blank">github</a>.
						</div>
					</div>
					<div class="center_col col7">
						<!-- Start WOWSlider.com BODY section -->
						<div id="wowslider-container2">
							<div class="ws_images"><ul>
								<li><img src="/ws/data2/images/highlight_ocr.jpg" alt="highlight_ocr" title="highlight_ocr" id="wows2_0"/></li>
								<li><img src="/ws/data2/images/highlight_ocrprocessed.jpg" alt="highlight_ocr-processed" title="highlight_ocr-processed" id="wows2_1"/></li>
							</ul></div>
							<div class="ws_bullets"><div>
								<a href="#" title="highlight_ocr">1</a>
								<a href="#" title="highlight_ocr-processed">2</a>
							</div></div>
							<div class="ws_shadow"></div>
						</div>
						<script type="text/javascript" src="/ws/engine2/wowslider.js"></script>
						<script type="text/javascript" src="/ws/engine2/script.js"></script>
						<!-- End WOWSlider.com BODY section -->
					</div>
				</div> <!-- work row -->

				<div class="row work_item">
					<div class="center_col col7">
						<!-- Start WOWSlider.com BODY section -->
						<div id="wowslider-container4">
							<div class="ws_images"><ul>
								<li><img src="/ws/data4/images/i1acropped.jpg" alt="i1a-cropped" title="i1a-cropped" id="wows4_0"/></li>
							</ul></div>
							<div class="ws_bullets"><div>
								<a href="/ws/data4/images/i1acropped.jpg" title="i1a-cropped">1</a>
								<a href="/ws/data4/images/i10aresultcsv.jpg" title="i10a-result-csv">2</a>
								<a href="/ws/data4/images/anki1.jpg" title="anki1">3</a>
								<a href="/ws/data4/images/anki2.jpg" title="anki2">4</a>
							</div></div>
							<div class="ws_shadow"></div>
						</div>
						<script type="text/javascript" src="/ws/engine4/wowslider.js"></script>
						<script type="text/javascript" src="/ws/engine4/script.js"></script>
						<!-- End WOWSlider.com BODY section -->
					</div>
					<div class="left_col col5">
						<h2 class="work_title">Quiz It</h2>
						<p class="work_desc">I needed a better way to learn my German vocabulary homework, so I created a program to perform structured OCR on two columns of text, in the hope of automatically generating practice tests. The text in the image is converted into a spreadsheet which can be imported into Anki, a self-quizzing tool.</p>
						<form class="work_form" action="/quiz_it" method="post" accept-charset="utf-8" enctype="multipart/form-data" target="_blank">
							<div class="try_title">Live Demo</div>
							<label for="file">Upload your own picture:</label>
							<input type="file" name="file" style="visibility:hidden;" id="uploadme4" />
							<input type="button" id="clickme4" value="Choose File"/>
							<input type="submit" value="Go &rarr;"><br>
							<label for="file">Or try the default picture:</label>
							<input type="submit" value="Continue &rarr;">
						</form>
						<div class="github"> Browse on
							<a href="https://github.com/danielsnider/structured-OCR" target="_blank">github</a>.
						</div>
					</div>
				</div> <!-- work row -->
			</div> <!-- work container -->

			<!-- <div class="container dates">
				<div class="row">
					<div class="left_divider"></div>
					<div class="container_title">Mini Timeline</div>
				</div>
				<div class="row date_section">
					<div class="left_divider_date"></div>
					<h4 class="date">12</h4>
					<h2 class="date_title">Freie Universit&auml;t Berlin (exchange semester)</h2>
					<h5 class="date_desc"></h5>
				</div>
				<div class="row date_section">
					<div class="left_divider_date"></div>
					<h4 class="date">11</h4>
					<h2 class="date_title">I.B.M. Intern</h2>
					<h5 class="date_desc"></h5>
				</div>
				<div class="row date_section">
					<div class="left_divider_date"></div>
					<h4 class="date">09</h4>
					<h2 class="date_title">Google "Summer of Code"</h2>
					<h5 class="date_desc"></h5>
				</div>
				<div class="row date_section">
					<div class="left_divider_date"></div>
					<h4 class="date">08-13</h4>
					<h2 class="date_title">University Of Ontario Institute of Technology</h2>
					<h5 class="date_desc"></h5>
				</div>
				<div class="row date_section">
					<div class="left_divider_date"></div>
					<h4 class="date">&lt; 08</h4>
					<h2 class="date_title">Industrialized School System</h2>
					<h5 class="date_desc"></h5>
				</div>
				<div class="row date_section">
					<div class="left_divider_date"></div>
					<h4 class="date">&lt; 1990</h4>
					<h2 class="date_title">Standby</h2>
				</div>
			</div> --> <!-- dates_section container -->

			<div class="skills container">
				<div class="row skills_header">
					<div class="left_divider"></div>
					<div class="container_title">I learn very fast.</div>
					<div class="container_desc">Kind of like a sponge, learning to absorb water.</div>
					<div class="left_divider_skills"></div>
					<div class="skills_graph">
						<img src="/images/skills.gif">
					</div>
				</div>
			</div> <!-- skills container -->

			<div class="container ethos" id="ethos">
				<div class="row">
					<div class="left_divider"></div>
					<div class="container_title">Ethos</div>
				</div>
				<div class="ethos_item row">
					<div class="ethos_title col4">Throw ideas away</div>
					<div class="ethos_desc col8">"90% of everything we create, draw, or think of will be thrown away — by choice. That’s just as it should be. Only the best ideas can survive." — Pixar</div>
				</div>
				<div class="ethos_item row">
					<div class="ethos_title col4">Motivation</div>
					<div class="ethos_desc col8">Is worth more than talent.</div>
				</div>
				<div class="ethos_item row">
					<div class="ethos_title col4">Clear > Clever</div>
					<div class="ethos_desc col8">If you have to choose between clear and clever, choose clear.</div>
				</div>
				<div class="ethos_item row">
					<div class="ethos_title col4">Use science</div>
					<div class="ethos_desc col8">Think factually and make use of cutting-edge research.</br></div>
				</div>
				<div class="ethos_item row">
					<div class="ethos_title col4">Send shorter emails</div>
					<div class="ethos_desc col8">So people will read them.</div>
				</div>
					<!-- <div class="ethos_item row">
						<div class="ethos_title col4"></div>
						<div class="ethos_desc col8"></div>
					</div>
					<div class="ethos_item row">
						<div class="ethos_title col4"></div>
						<div class="ethos_desc col8"></div>
					</div>
					<div class="ethos_item row">
						<div class="ethos_title col4"></div>
						<div class="ethos_desc col8"></div>
					</div>
					<div class="ethos_item row">
						<div class="ethos_title col4"></div>
						<div class="ethos_desc col8"></div>
					</div> -->
				</div> <!-- ethos container -->

				<div class="goals container">
					<div class="row">
						<div class="left_divider"></div>
						<div class="goals_title">I dream about...</div>
						<div class="col12">
							<div class="x"><img src="/images/cross.png" height="500" width="500"></div>
						</div>
					</div>
				</div> <!-- goals container -->


				<div class="contact container" id="contact">
					<div class="row">
						<div class="left_divider"></div>
						<div class="contact_logo">
							<img src="/images/hellowhite.png" height="220" width="220">
						</div>
						<div class="container_title">When I start something,</div>
						<div class="contact_desc">I do it with everything I have. Passion, love, and energy, to name a few.</div>
						<div class="action">
							<a class="action_item left" href="/resume.pdf" target="_blank">learn more <span class="action_sml">from my resume</span></a>
							<div class="action_div center">or</div>
							<a class="action_item right" href="mailto:danielsnider12@gmail.com" target="_blank">contact now</a>
						</div>
					</div>
				</div>


				<div class="footer container">
					<div class="row">
						<div class="footer_content">
							<img class="headshot_img" src="/images/headshot.png" height="180" width="180">
							<a class="contact_email" href="mailto:danielsnider12@gmail.com" target="_blank">danielsnider12@gmail.com</a>
							<img class="arrow" src="/images/arrow.PNG" height="150" width="150">
							<div class="footer_text">Me rocking a prototype of augmented reality glasses.
								<span class="footer_text_cont">
									@ InsideAR Conference, M&uuml;nich 2012
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</body>
		</html>
