/* line 17, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* apply a natural box layout model to all elements */
/* line 11, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 61, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

@font-face {
  font-family: 'futura-med';
  src: url("/fonts/Futura Medium BT.ttf");
}

@font-face {
  font-family: 'futura-light';
  src: url("/fonts/Futura Light BT.ttf");
}

@font-face {
  font-family: 'legnsb';
  src: url("/fonts/LEGSNB__.TTF");
}

@font-face {
  font-family: 'legnsw';
  src: url("/fonts/LEGSNSW_.TTF");
}

@font-face {
  font-family: 'myriad-light';
  src: url("/fonts/MyriadPro-LightSemiExt.otf");
}

@font-face {
  font-family: 'myriad-semi';
  src: url("/fonts/MyriadPro-SemiExt.otf");
}

@font-face {
  font-family: 'sto';
  src: url("/fonts/STOSFMI_.ttf");
}

@font-face {
  font-family: 'gara';
  src: url("/fonts/AGaramondPro-Italic.otf");
}

@font-face {
  font-family: 'avan';
  src: url("/fonts/AVANGELI.TTF");
}

@font-face {
  font-family: 'bio';
  src: url("/fonts/bio.otf");
}

@font-face {
  font-family: 'links';
  src: url("/fonts/ChaparralPro-LightCapt.otf");
}

@font-face {
  font-family: 'email';
  src: url("/fonts/AVANGMB.TTF");
}

@font-face {
  font-family: 'work';
  src: url("/fonts/DINNeuzeitGrotesk-BoldCond-Regular.ttf");
}

/* line 133, ../sass/style.scss */
body {
  font-family: "Istok Web", sans-serif;
  background: #2e2e2e;
}

/* line 138, ../sass/style.scss */
a:link {
  text-decoration: none;
  color: black;
}

/* line 142, ../sass/style.scss */
a:visited {
  text-decoration: none;
  color: black;
}

/* line 146, ../sass/style.scss */
a:active {
  text-decoration: none;
}

/* line 156, ../sass/style.scss */
.container_title {
  padding: 15px 0 10px 0;
  font-size: 4.0625em;
  line-height: 1.10769em;
  text-transform: uppercase;
  font-family: "avan", sans-serif;
  font-weight: lighter;
}

/* line 160, ../sass/style.scss */
.container_desc {
  margin-bottom: 60px;
  font-family: "links", sans-serif;
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 176, ../sass/style.scss */
.left_divider {
  position: relative;
  width: 2000px;
  height: 50px;
  margin-left: -2015px;
  float: left;
  background: transparent url(/images/divider_left.gif) 0 0 no-repeat;
  top: 30px;
}

/* line 187, ../sass/style.scss */
.header {
  background: #ffff33;
  color: black;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 192, ../sass/style.scss */
.header_content {
  padding: 100px 0 50px 0;
}

/* line 196, ../sass/style.scss */
.logo {
  margin-bottom: 35px;
}

/* line 200, ../sass/style.scss */
.bio {
  margin: 0 10%;
  font-family: "bio", sans-serif;
  font-size: 0.9375em;
  line-height: 1.6em;
}

/* line 206, ../sass/style.scss */
.links {
  padding: 12px;
  font-family: "links", sans-serif;
  font-size: 0.9375em;
  line-height: 1.6em;
  color: black;
}
/* line 211, ../sass/style.scss */
.links a {
  font-weight: bold;
}

/* line 216, ../sass/style.scss */
.slash {
  padding: 6px;
  color: rgba(57, 57, 57, 0.6);
}

/* line 221, ../sass/style.scss */
a.alink:hover {
  color: blue;
  text-decoration: underline;
}

/* line 233, ../sass/style.scss */
.work {
  background: #2e2e2e;
  color: white;
}

/* line 237, ../sass/style.scss */
.work_item {
  border-top: 1px solid #e8eef6;
  padding: 50px 20px;
}

/* line 245, ../sass/style.scss */
.work_item:last-child {
  border-bottom: 0;
}

/* line 249, ../sass/style.scss */
.left_divider_work_date {
  position: relative;
  width: 2000px;
  height: 50px;
  margin-left: -2015px;
  float: left;
  background: transparent url(/images/divider_left.gif) 0 0 no-repeat;
  top: 20px;
}

/* line 254, ../sass/style.scss */
.work_date {
  position: relative;
  top: -20px;
  left: -105px;
  height: 0;
  font-family: "avan", sans-serif;
  font-size: 1.875em;
  line-height: 1.6em;
}

/* line 263, ../sass/style.scss */
.work_title {
  font-size: 2.5em;
  line-height: 1.2em;
  font-family: "legnsb", sans-serif;
}

/* line 268, ../sass/style.scss */
.work_desc {
  font-family: sans-serif;
  font-size: 0.9375em;
  line-height: 1.6em;
}
/* line 271, ../sass/style.scss */
.work_desc a {
  color: #1996E8;
  text-decoration: underline;
}

/* line 277, ../sass/style.scss */
.work_form {
  font-size: 0.9375em;
  line-height: 1.6em;
  font-family: "myriad-light", sans-serif;
  border: 1px solid gray;
  padding: 3px 5px;
  margin: 10px;
  box-sizing: content-box;
}
/* line 284, ../sass/style.scss */
.work_form input[type=file] {
  width: 1px;
}

/* line 295, ../sass/style.scss */
.skills {
  background: #ffff33;
  color: black;
}

/* line 305, ../sass/style.scss */
.dates {
  background: #ffff33;
  color: black;
}

/* line 309, ../sass/style.scss */
.dates_section {
  padding: 0 40px 40px 40px;
}

/* line 313, ../sass/style.scss */
.date_title {
  font-family: "avan", sans-serif;
  font-size: 1.875em;
  line-height: 1.6em;
}

/* line 319, ../sass/style.scss */
.date_desc {
  font-family: "links", sans-serif;
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 324, ../sass/style.scss */
.left_divider_date {
  position: relative;
  width: 2000px;
  height: 50px;
  margin-left: -2015px;
  float: left;
  background: transparent url(/images/divider_left.gif) 0 0 no-repeat;
  top: 20px;
}

/* line 329, ../sass/style.scss */
.date {
  position: relative;
  top: -20px;
  left: -105px;
  height: 0;
  font-family: "avan", sans-serif;
  font-size: 1.875em;
  line-height: 1.6em;
}

/* line 344, ../sass/style.scss */
.ethos {
  background: white;
  color: #2e2e2e;
}

/* line 348, ../sass/style.scss */
.ethos_item {
  padding: 20px auto;
  border-bottom: 1px solid #e8eef6;
}

/* line 353, ../sass/style.scss */
.ethos_title {
  font-size: 1.625em;
  line-height: 1.84615em;
  padding: 14px;
  font-family: "myriad-light", sans-serif;
}

/* line 359, ../sass/style.scss */
.ethos_desc {
  font-size: 1.125em;
  line-height: 1.33333em;
  font-family: "myriad-light", sans-serif;
  padding: 28px;
}

/* line 365, ../sass/style.scss */
.ethos_item:last-child {
  border-bottom: 0;
}

/* line 375, ../sass/style.scss */
.goals {
  background: white;
  color: #2e2e2e;
}

/* line 379, ../sass/style.scss */
.x {
  text-align: center;
  font-size: 60px;
  margin: 30px auto;
  color: rgba(0, 0, 0, 0.33);
  font-family: times;
}

/* line 387, ../sass/style.scss */
.goals_title {
  padding: 15px 0 10px 0;
  font-size: 4.0625em;
  line-height: 1.10769em;
  text-transform: uppercase;
  font-family: "avan", sans-serif;
  font-weight: lighter;
  font-size: 2.8125em;
  line-height: 1.6em;
  padding: 15px 0 0 0;
}

/* line 400, ../sass/style.scss */
.contact {
  background: #2e2e2e;
  color: white;
}

/* line 404, ../sass/style.scss */
.contact_logo {
  float: right;
  color: white;
}

/* line 409, ../sass/style.scss */
.contact_desc {
  margin-bottom: 20px;
  font-family: "links", sans-serif;
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 415, ../sass/style.scss */
.action {
  text-transform: uppercase;
  font-family: "futura-med", sans-serif;
  font-size: 3.75em;
  line-height: 1.2em;
}

/* line 420, ../sass/style.scss */
.action_item {
  padding: 0 12px;
}

/* line 423, ../sass/style.scss */
.action_div {
  opacity: .5;
  font-size: 0.625em;
  line-height: 2.4em;
}

/* line 428, ../sass/style.scss */
.action_sml {
  font-size: 0.3125em;
  line-height: 4.8em;
}

/* line 432, ../sass/style.scss */
a.left {
  text-align: left;
  margin-left: 10%;
}

/* line 437, ../sass/style.scss */
.center {
  text-align: center;
}

/* line 441, ../sass/style.scss */
a.right {
  float: right;
  margin-right: 10%;
}

/* line 446, ../sass/style.scss */
a.action_item:link {
  text-decoration: none;
  color: white;
}

/* line 450, ../sass/style.scss */
a.action_item:visited {
  text-decoration: none;
  color: white;
}

/* line 454, ../sass/style.scss */
a.action_item:hover {
  opacity: .5;
}

/* line 465, ../sass/style.scss */
.footer {
  background: black;
}

/* line 469, ../sass/style.scss */
.footer_content {
  text-align: center;
  padding-top: 30px;
}

/* line 474, ../sass/style.scss */
.headshot_img {
  opacity: .7;
  transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
}

/* line 479, ../sass/style.scss */
.contact_email {
  font-family: "bio", sans-serif;
  position: relative;
  top: -50px;
  font-size: 1.6875em;
  line-height: 1.77778em;
}

/* line 486, ../sass/style.scss */
.arrow {
  position: relative;
  top: -65px;
}

/* line 493, ../sass/style.scss */
.footer_text {
  color: #d9d9d9;
  margin: 20px auto;
  font-family: "bio", sans-serif;
  font-size: 1.375em;
  line-height: 2.18182em;
}

/* line 500, ../sass/style.scss */
.footer_text_cont {
  color: #898989;
}

/* line 504, ../sass/style.scss */
.headshot_img:hover {
  opacity: 1;
}

/* line 508, ../sass/style.scss */
a.contact_email:link {
  text-decoration: none;
  color: white;
}

/* line 512, ../sass/style.scss */
a.contact_email:visited {
  text-decoration: none;
  color: white;
}

/* line 516, ../sass/style.scss */
a.contact_email:hover {
  opacity: .5;
}

/* line 527, ../sass/style.scss */
div#navbar {
  height: 40px;
  width: 100%;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  text-align: center;
  background-color: rgba(151, 151, 151, 0.7);
  color: black;
  top: 0px;
  position: fixed;
  z-index: 999;
}

/* line 539, ../sass/style.scss */
div#navbar ul {
  margin: 0px;
  padding: 0px;
  font-family: "myriad-light", sans-serif;
  font-size: medium;
  line-height: 40px;
  white-space: nowrap;
}

/* line 548, ../sass/style.scss */
div#navbar li {
  list-style-type: none;
  display: inline;
}

/* line 553, ../sass/style.scss */
div#navbar li a {
  text-decoration: none;
  padding: 7px 6%;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
div#navbar li a:active, div#navbar li a:focus {
  outline: none;
}

/* line 559, ../sass/style.scss */
div#navbar li a:hover {
  font-weight: bold;
  /*background-color: $navcolor + 60;*/
  /*@include radial-gradient(color-stops(#c00, #00c));*/
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, rgba(101, 101, 101, 0.7)), color-stop(100%, rgba(201, 201, 201, 0.7)));
  background-image: -webkit-radial-gradient(rgba(101, 101, 101, 0.7), rgba(201, 201, 201, 0.7));
  background-image: -moz-radial-gradient(rgba(101, 101, 101, 0.7), rgba(201, 201, 201, 0.7));
  background-image: -o-radial-gradient(rgba(101, 101, 101, 0.7), rgba(201, 201, 201, 0.7));
  background-image: radial-gradient(rgba(101, 101, 101, 0.7), rgba(201, 201, 201, 0.7));
}

/* line 578, ../sass/style.scss */
.center {
  display: block;
  margin: auto;
}

/* line 583, ../sass/style.scss */
a.close {
  color: white;
  text-decoration: underline;
}

/* line 588, ../sass/style.scss */
.close {
  padding: 15px 0 10px 0;
  font-size: 4.0625em;
  line-height: 1.10769em;
  text-transform: uppercase;
  font-family: "avan", sans-serif;
  font-weight: lighter;
  font-size: 30px;
}

/* line 593, ../sass/style.scss */
a.close:hover {
  color: #ffff33;
}

/* line 597, ../sass/style.scss */
.result_main {
  border-top: 1px solid #e8eef6;
}

/* line 601, ../sass/style.scss */
.result_title {
  padding: 15px 0 10px 0;
  font-size: 4.0625em;
  line-height: 1.10769em;
  text-transform: uppercase;
  font-family: "avan", sans-serif;
  font-weight: lighter;
  text-align: center;
}

/* line 606, ../sass/style.scss */
.result_text {
  margin: auto 8%;
  padding-bottom: 20px;
  font-family: "myriad-light", sans-serif;
  white-space: pre-line;
}

/* line 614, ../sass/style.scss */
.result_subtitle {
  padding: 40px 0 10px 0;
  font-size: 2.1875em;
  line-height: 1.37143em;
  text-transform: uppercase;
  font-family: "avan", sans-serif;
  font-weight: lighter;
  color: #ffff33;
}

/* line 622, ../sass/style.scss */
.result_img {
  width: 70%;
  max-width: 700px;
}

/* line 627, ../sass/style.scss */
.close_bottom {
  padding: 30px;
}
