/* line 17, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* apply a natural box layout model to all elements */
/* line 11, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 61, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

@font-face {
  font-family: 'futura-med';
  src: url("/fonts/Futura Medium BT.ttf");
}

@font-face {
  font-family: 'legnsb';
  src: url("/fonts/LEGSNB__.TTF");
}

@font-face {
  font-family: 'myriad-light';
  src: url("/fonts/MyriadPro-LightSemiExt.otf");
}

@font-face {
  font-family: 'avan';
  src: url("/fonts/AVANGELI.TTF");
}

@font-face {
  font-family: 'bio';
  src: url("/fonts/bio.otf");
}

@font-face {
  font-family: 'links';
  src: url("/fonts/ChaparralPro-LightCapt.otf");
}

@font-face {
  font-family: 'github';
  src: url("/fonts/COLLEGIA.ttf");
}

/* line 97, ../sass/style.scss */
body {
  font-family: "Istok Web", sans-serif;
  background: #2e2e2e;
}

/* line 102, ../sass/style.scss */
.bold {
  font-weight: bold;
}

/* line 106, ../sass/style.scss */
a:link {
  text-decoration: none;
  color: black;
}

/* line 110, ../sass/style.scss */
a:visited {
  text-decoration: none;
  color: black;
}

/* line 114, ../sass/style.scss */
a:active {
  text-decoration: none;
}

/* line 124, ../sass/style.scss */
.container_title {
  padding: 15px 0 10px 0;
  font-size: 4.0625em;
  line-height: 1.10769em;
  text-transform: uppercase;
  font-family: "avan", sans-serif;
  font-weight: lighter;
}

/* line 128, ../sass/style.scss */
.container_desc {
  margin-bottom: 40px;
  font-family: "links", sans-serif;
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 144, ../sass/style.scss */
.left_divider {
  position: relative;
  width: 2000px;
  height: 50px;
  margin-left: -2015px;
  float: left;
  background: transparent url(/images/divider_left.gif) 0 0 no-repeat;
  top: 46px;
}

/* line 155, ../sass/style.scss */
.header {
  background: #ffff33;
  color: black;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 160, ../sass/style.scss */
.header_content {
  padding: 100px 0 50px 0;
}

/* line 164, ../sass/style.scss */
.logo {
  margin-bottom: 35px;
}

/* line 168, ../sass/style.scss */
.bio {
  margin: 0 10%;
  font-family: "bio", sans-serif;
  font-size: 0.9375em;
  line-height: 1.6em;
}

/* line 174, ../sass/style.scss */
.links {
  padding: 12px;
  font-family: "links", sans-serif;
  font-size: 0.9375em;
  line-height: 1.6em;
  color: black;
}
/* line 179, ../sass/style.scss */
.links a {
  font-weight: bold;
}

/* line 184, ../sass/style.scss */
.slash {
  padding: 6px;
  color: rgba(57, 57, 57, 0.6);
}

/* line 189, ../sass/style.scss */
a.alink:hover {
  color: blue;
  text-decoration: underline;
}

/* line 201, ../sass/style.scss */
.work {
  background: #2e2e2e;
  color: white;
}

/* line 205, ../sass/style.scss */
.work_item {
  border-top: 1px solid #e8eef6;
  padding: 50px 20px;
}

/* line 213, ../sass/style.scss */
.work_item:last-child {
  border-bottom: 0;
}

/* line 217, ../sass/style.scss */
.left_divider_work_date {
  position: relative;
  width: 2000px;
  height: 50px;
  margin-left: -2015px;
  float: left;
  background: transparent url(/images/divider_left.gif) 0 0 no-repeat;
  top: 20px;
}

/* line 222, ../sass/style.scss */
.work_date {
  position: relative;
  top: -20px;
  left: -105px;
  height: 0;
  font-family: "avan", sans-serif;
  font-size: 1.875em;
  line-height: 1.6em;
}

/* line 231, ../sass/style.scss */
.work_title {
  font-size: 2.5em;
  line-height: 1.2em;
  font-family: "legnsb", sans-serif;
}

/* line 236, ../sass/style.scss */
.work_desc {
  margin: 6px 0px;
  font-family: sans-serif;
  font-size: 0.9375em;
  line-height: 1.6em;
}
/* line 240, ../sass/style.scss */
.work_desc a {
  color: #1996E8;
  text-decoration: underline;
}

/* line 246, ../sass/style.scss */
.work_form {
  font-size: 0.9375em;
  line-height: 1.6em;
  font-family: "myriad-light", sans-serif;
  border: 1px solid gray;
  padding: 3px 5px;
  margin: 10px;
  box-sizing: content-box;
}
/* line 253, ../sass/style.scss */
.work_form input[type=file] {
  width: 1px;
}

/* line 257, ../sass/style.scss */
.sep_dist {
  font-size: 12px;
}

/* line 261, ../sass/style.scss */
.rgb {
  font-size: 13px;
}

/* line 265, ../sass/style.scss */
#rgb_title {
  text-decoration: underline;
}

/* line 269, ../sass/style.scss */
.try_title {
  text-align: center;
  text-decoration: underline;
  color: #ffff33;
}

/* line 275, ../sass/style.scss */
.github {
  margin-top: 10px;
  font-family: "links", sans-serif;
  text-align: center;
}
/* line 280, ../sass/style.scss */
.github a {
  font-family: "github", sans-serif;
}
/* line 283, ../sass/style.scss */
.github a:link {
  color: white;
}
/* line 286, ../sass/style.scss */
.github a:visited {
  color: white;
}
/* line 289, ../sass/style.scss */
.github a:hover {
  color: #ffff33;
}

/* line 300, ../sass/style.scss */
.skills {
  background: #ffff33;
  color: black;
}

/* line 304, ../sass/style.scss */
.skills_graph {
  margin-bottom: 24px;
  margin-right: 10px;
}

/* line 309, ../sass/style.scss */
.left_divider_skills {
  position: relative;
  width: 2000px;
  height: 50px;
  margin-left: -2015px;
  float: left;
  background: transparent url(/images/divider_left.gif) 0 0 no-repeat;
  top: 16px;
  margin-left: -1995px;
}

/* line 320, ../sass/style.scss */
.dates {
  background: #ffff33;
  color: black;
}

/* line 324, ../sass/style.scss */
.dates_section {
  padding: 0 40px 40px 40px;
}

/* line 328, ../sass/style.scss */
.date_title {
  font-family: "avan", sans-serif;
  font-size: 1.875em;
  line-height: 1.6em;
}

/* line 334, ../sass/style.scss */
.date_desc {
  font-family: "links", sans-serif;
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 339, ../sass/style.scss */
.left_divider_date {
  position: relative;
  width: 2000px;
  height: 50px;
  margin-left: -2015px;
  float: left;
  background: transparent url(/images/divider_left.gif) 0 0 no-repeat;
  top: 40px;
}

/* line 344, ../sass/style.scss */
.date {
  position: relative;
  top: -20px;
  left: -105px;
  height: 0;
  font-family: "avan", sans-serif;
  font-size: 1.875em;
  line-height: 1.6em;
}

/* line 359, ../sass/style.scss */
.ethos {
  background: white;
  color: #2e2e2e;
}

/* line 363, ../sass/style.scss */
.ethos_item {
  padding-bottom: 20px;
  padding: 0 auto;
  border-bottom: 1px solid #e8eef6;
}

/* line 369, ../sass/style.scss */
.ethos_title {
  font-size: 1.625em;
  line-height: 1.84615em;
  padding: 14px;
  font-family: "myriad-light", sans-serif;
}

/* line 375, ../sass/style.scss */
.ethos_desc {
  font-size: 1.125em;
  line-height: 1.33333em;
  font-family: "myriad-light", sans-serif;
  padding: 28px;
}

/* line 381, ../sass/style.scss */
.ethos_item:last-child {
  border-bottom: 0;
}

/* line 391, ../sass/style.scss */
.goals {
  background: white;
  color: #2e2e2e;
}

/* line 395, ../sass/style.scss */
.x {
  text-align: center;
  font-size: 60px;
  margin: 30px auto;
  color: rgba(0, 0, 0, 0.33);
  font-family: times;
}

/* line 403, ../sass/style.scss */
.goals_title {
  padding: 15px 0 10px 0;
  font-size: 4.0625em;
  line-height: 1.10769em;
  text-transform: uppercase;
  font-family: "avan", sans-serif;
  font-weight: lighter;
  font-size: 2.8125em;
  line-height: 1.6em;
  padding: 15px 0 0 0;
}

/* line 416, ../sass/style.scss */
.contact {
  background: #2e2e2e;
  color: white;
}

/* line 420, ../sass/style.scss */
.contact_logo {
  float: right;
  color: white;
}

/* line 425, ../sass/style.scss */
.contact_desc {
  margin-bottom: 20px;
  font-family: "links", sans-serif;
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 431, ../sass/style.scss */
.action {
  text-transform: uppercase;
  font-family: "futura-med", sans-serif;
  font-size: 3.75em;
  line-height: 1.2em;
}

/* line 436, ../sass/style.scss */
.action_item {
  padding: 0 12px;
}

/* line 439, ../sass/style.scss */
.action_div {
  opacity: .5;
  font-size: 0.625em;
  line-height: 2.4em;
}

/* line 444, ../sass/style.scss */
.action_sml {
  font-size: 0.3125em;
  line-height: 4.8em;
}

/* line 448, ../sass/style.scss */
a.left {
  text-align: left;
  margin-left: 10%;
}

/* line 453, ../sass/style.scss */
.center {
  text-align: center;
}

/* line 457, ../sass/style.scss */
a.right {
  float: right;
  margin-right: 10%;
}

/* line 462, ../sass/style.scss */
a.action_item:link {
  text-decoration: none;
  color: white;
}

/* line 466, ../sass/style.scss */
a.action_item:visited {
  text-decoration: none;
  color: white;
}

/* line 470, ../sass/style.scss */
a.action_item:hover {
  opacity: .5;
}

/* line 481, ../sass/style.scss */
.footer {
  background: black;
}

/* line 485, ../sass/style.scss */
.footer_content {
  text-align: center;
  padding-top: 30px;
}

/* line 490, ../sass/style.scss */
.headshot_img {
  opacity: .7;
  transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
}

/* line 495, ../sass/style.scss */
.contact_email {
  font-family: "bio", sans-serif;
  position: relative;
  top: -50px;
  font-size: 1.6875em;
  line-height: 1.77778em;
}

/* line 502, ../sass/style.scss */
.arrow {
  position: relative;
  top: -65px;
}

/* line 509, ../sass/style.scss */
.footer_text {
  color: #d9d9d9;
  margin: 20px auto;
  font-family: "bio", sans-serif;
  font-size: 1.375em;
  line-height: 2.18182em;
}

/* line 516, ../sass/style.scss */
.footer_text_cont {
  color: #898989;
}

/* line 520, ../sass/style.scss */
.headshot_img:hover {
  opacity: 1;
}

/* line 524, ../sass/style.scss */
a.contact_email:link {
  text-decoration: none;
  color: white;
}

/* line 528, ../sass/style.scss */
a.contact_email:visited {
  text-decoration: none;
  color: white;
}

/* line 532, ../sass/style.scss */
a.contact_email:hover {
  opacity: .5;
}

/* line 543, ../sass/style.scss */
div#navbar {
  height: 40px;
  width: 100%;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  text-align: center;
  background-color: rgba(151, 151, 151, 0.6);
  color: black;
  top: 0px;
  position: fixed;
  z-index: 999;
}

/* line 555, ../sass/style.scss */
div#navbar ul {
  margin: 0px;
  padding: 0px;
  font-family: "myriad-light", sans-serif;
  font-size: medium;
  line-height: 40px;
  white-space: nowrap;
}

/* line 564, ../sass/style.scss */
div#navbar li {
  list-style-type: none;
  display: inline;
  font-size: 1.0625em;
  line-height: 1.41176em;
}

/* line 570, ../sass/style.scss */
div#navbar li a {
  text-decoration: none;
  padding: 7px 6%;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
div#navbar li a:active, div#navbar li a:focus {
  outline: none;
}

/* line 576, ../sass/style.scss */
div#navbar li a:hover {
  font-weight: bold;
  background-color: rgba(211, 211, 211, 0.6);
  /*@include radial-gradient(color-stops(#c00, #00c));*/
}

/* line 596, ../sass/style.scss */
.center {
  display: block;
  margin: auto;
}

/* line 601, ../sass/style.scss */
a.close {
  color: white;
  text-decoration: underline;
}

/* line 606, ../sass/style.scss */
.close {
  padding: 15px 0 10px 0;
  font-size: 4.0625em;
  line-height: 1.10769em;
  text-transform: uppercase;
  font-family: "avan", sans-serif;
  font-weight: lighter;
  font-size: 30px;
}

/* line 611, ../sass/style.scss */
a.close:hover {
  color: #ffff33;
}

/* line 615, ../sass/style.scss */
.result_main {
  border-top: 1px solid #e8eef6;
}

/* line 619, ../sass/style.scss */
.result_title {
  padding: 15px 0 10px 0;
  font-size: 4.0625em;
  line-height: 1.10769em;
  text-transform: uppercase;
  font-family: "avan", sans-serif;
  font-weight: lighter;
  text-align: center;
}

/* line 624, ../sass/style.scss */
.result_text {
  margin: auto 8%;
  padding-bottom: 20px;
  font-family: "myriad-light", sans-serif;
  white-space: pre-line;
}

/* line 632, ../sass/style.scss */
.result_subtitle {
  padding: 40px 0 10px 0;
  font-size: 2.1875em;
  line-height: 1.37143em;
  text-transform: uppercase;
  font-family: "avan", sans-serif;
  font-weight: lighter;
  color: #ffff33;
}

/* line 640, ../sass/style.scss */
.result_img {
  width: 70%;
  max-width: 700px;
}

/* line 645, ../sass/style.scss */
.close_bottom {
  padding: 30px;
}
